<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RCS.Carbon.Example.Desktop.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RCS.Carbon.Example.Desktop.AppSettings>
            <setting name="ActiveCredType" serializeAs="String">
                <value />
            </setting>
            <setting name="UserId" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>free</value>
            </setting>
            <setting name="WindowBounds" serializeAs="String">
                <value />
            </setting>
            <setting name="ActiveLicensingType" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value>free</value>
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RcsLicBaseAddress" serializeAs="String">
                <value>https://rcsapps.azurewebsites.net/licensing2test/</value>
            </setting>
            <setting name="RcsLicApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="RcsLicTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="BPrLicProductKey" serializeAs="String">
                <value />
            </setting>
            <setting name="BPrLicAdoConnect" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOutputFormat" serializeAs="String">
                <value />
            </setting>
        </RCS.Carbon.Example.Desktop.AppSettings>
    </userSettings>
</configuration>